<div class="card mt-2">
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p><%= complaint.content %></p>
      <footer class="blockquote-footer"><%= complaint.user.name %></footer>
    </blockquote>
  </div>
</div>